@use '@angular/material' as mat;
@include mat.core();

$sunsystem-primary: mat.define-palette(mat.$indigo-palette);
$sunsystem-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$sunsystem-warn: mat.define-palette(mat.$red-palette);
$sunsystem-theme: mat.define-light-theme((
  color: (
    primary: $sunsystem-primary,
    accent: $sunsystem-accent,
    warn: $sunsystem-warn,
  )
));

@include mat.all-component-themes($sunsystem-theme);


$red: #ff0000;
$white: #fff;
$black: #000;
$bp-blue: #0b5ca6;
$bp-border-blue: #5b9ad5;

$round-border: 3rem;

* {
  font-size: 100%;
  font-family: Arial, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #efefef !important;
}

header {
  height: 2rem;
  top: 0;
  left: 0;
  right: 0;
  background: $bp-blue;
}

footer {
  display: flex;
  align-items: center;
  background-color: $bp-blue;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px;
  position: fixed;
}

.logo {
  background-image: url(assets/images/brasilprev-logo.svg);
  height: 2.25rem;
  margin-left: 0.5rem;
  width: 9rem;
}

.bp-content {
  display: flow;
  padding: 1rem;
}

.left-content {
  display: flex;
  justify-content: left;
}

.center-content {
  display: flex;
  justify-content: center;
}

.charge-form {
  border: 1px solid $bp-border-blue;
  border-radius: $round-border;
  padding: 2rem;
}

.title {
  color: #707070;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
}
